* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
}

.grid-square {
    width: 40px;
    height: 40px;
    background-color: #eee;
    border: 1px solid #ccc;
}

.grid-button {
    border: none;
    margin: 10px;
    width: 150px;
    height: 50px;
    color: azure;
    background-color: rgb(3, 3, 224);
    border-radius: 5px;
    box-shadow: 0 0 0 3px rgba(3, 89, 170, 0.15);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.grid-button:hover {
    background-color: rgb(65, 138, 233);
    transform:scale(1.1);
    cursor: pointer;
    box-shadow: none;
}