* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
}

.grid-square {
    width: 40px;
    height: 40px;
    background-color: #eee;
    border: 1px solid #ccc;
}

.grid-button {
    border: 1px solid rgb(61, 7, 61);
    margin: 10px;
    width: 100px;
    height: 50px;
}